# ⚠️ GENERATED FILE — DO NOT EDIT.
#
# DERIVED from the recipe service's authored zod. Regenerate with:
#   npm run contract:generate --workspace=@kitchensink/recipe-service
#
# This document is for EXTERNAL consumption (oasdiff, docs, integrators). It is NOT a codegen input
# and NOT the type authority — that is the zod exported from ./src/index.ts.

openapi: 3.0.3
info:
  title: Commise Recipe API
  version: 1.0.0
  description: |-
    The recipe service owns this contract. It is DERIVED from the service’s authored zod
    (`src/**/*.schema.ts` plus the `@kitchensink/recipe-core` schemas those compose), never
    hand-written, and it is not a code-generation input.

    Every path is also served under a deprecated bare `/v1/...` alias for consumers configured
    outside this repo and for already-shipped mobile binaries (ADR-0011). New integrators must use
    the `/api/v1/...` spelling published here.

    Coverage is partial and the gaps are enumerated by the generator on every run: an operation with
    no response schema is one whose body has no authored zod yet, not one whose body is empty.
servers:
  - url: https://recipe.commise.app
    description: Production
  - url: https://recipe.sandbox.commise.app
    description: Sandbox
security:
  - clerkSessionToken: []
paths:
  /health:
    get:
      operationId: getHealth
      summary: Liveness probe.
      security: []
      responses:
        "200":
          description: The service is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
      description: Deliberately PUBLIC — the ALB target group calls it with no credential, and a consumer checking for
        contract skew must be able to ask before it holds one. `contractHash` is that skew signal (§15.2.5).
  /health/ready:
    get:
      operationId: getReadiness
      summary: Readiness probe (checks the database connection).
      security: []
      responses:
        "200":
          description: The database answered; the service is ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: 'The database did not answer within the probe timeout (`code: NOT_READY`). ⚠️ This body used to be `{
            status: "unavailable", service: "recipe" }` (the retired `HealthUnavailable` component); it is now the
            standard envelope, like every other failure. Nothing consumed the old body — every probe reads the status.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: Deliberately PUBLIC.
  /api/v1/recipes:
    post:
      operationId: createRecipe
      summary: Create a recipe owned by the caller.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The created recipe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        description: The recipe to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRecipeRequest"
    get:
      operationId: listRecipes
      summary: List the caller's recipes, newest-updated first by default.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: A page of the caller’s recipes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRecipes"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: page
          in: query
          required: false
          description: 1-based page number.
          schema:
            default: 1
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: false
          description: Page size, 1..100.
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: sortBy
          in: query
          required: false
          description: Sort key.
          schema:
            default: updatedAt
            type: string
            enum:
              - updatedAt
              - createdAt
              - title
  /api/v1/recipes/{id}:
    get:
      operationId: getRecipeById
      summary: Read one recipe (the owner’s, or any public recipe).
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The recipe, with photos and nutrition.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "410":
          description: The recipe was erased (tombstoned).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
    patch:
      operationId: updateRecipe
      summary: Update the caller’s recipe (optimistic concurrency on `currentVersion`).
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The updated recipe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Version conflict — the recipe changed since the caller read it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The fields to change.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRecipeRequest"
    delete:
      operationId: deleteRecipe
      summary: Soft-delete the caller’s recipe.
      security:
        - clerkSessionToken: []
      responses:
        "204":
          description: Deleted.
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{id}/clone:
    post:
      operationId: cloneRecipe
      summary: Clone a visible recipe into the caller’s collection.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The caller’s new clone.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe to clone.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{id}/visibility:
    patch:
      operationId: setRecipeVisibility
      summary: Set the caller’s recipe visibility (`public` | `private`).
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The updated recipe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: The schema bounds the literal only — whether the requested transition is ALLOWED is the C-004 policy
        evaluator’s answer (`403`), gated on the recipe’s `(sourceType, isPremium, hasSubstantiveEdit)`, not a
        validation `400`.
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The requested visibility.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetRecipeVisibilityRequest"
  /api/v1/recipes/{id}/rating:
    put:
      operationId: setRecipeRating
      summary: Set the caller’s rating on someone else’s recipe (idempotent upsert).
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The recipe with refreshed rating aggregates.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeDetail"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: A caller may not rate their own recipe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "The rater is always the bearer token’s subject. The body is strict: a `userId` is rejected with a 400, not
        stripped."
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: Whole stars, 1..5.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetRatingRequest"
    delete:
      operationId: deleteRecipeRating
      summary: Remove the caller’s rating (idempotent).
      security:
        - clerkSessionToken: []
      responses:
        "204":
          description: Removed.
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{recipeId}/photos:
    get:
      operationId: listRecipePhotos
      summary: List a recipe’s photos in display order.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The recipe’s photos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipePhotoList"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{recipeId}/photos/upload-url:
    post:
      operationId: createPhotoUploadUrl
      summary: Presign a direct-to-S3 upload for a new photo.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: A presigned upload target.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoUploadUrlResponse"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The declared size exceeds the 5 MB cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "415":
          description: The content type is not jpeg, png, or webp.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "Returns `200`, not `201`: nothing is created here — the row is created at `confirm`. A content type
        outside the jpeg/png/webp allowlist is a `415`, and a declared size above 5 MB a `413`; neither is a `400`."
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The file the client intends to upload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePhotoUploadRequest"
  /api/v1/recipes/{recipeId}/photos/confirm:
    post:
      operationId: confirmPhotoUpload
      summary: Validate the uploaded object by magic bytes and persist the photo.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The persisted photo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipePhoto"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: The recipe already has the maximum of 10 photos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: The stored object exceeds the 5 MB cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: The stored bytes are not a servable jpeg, png, or webp.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The object key to confirm.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmPhotoRequest"
  /api/v1/recipes/{recipeId}/photos/reorder:
    patch:
      operationId: reorderRecipePhotos
      summary: Set the recipe’s photo display order.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The photos in their new order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipePhotoList"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: Photo ids in the desired order.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReorderPhotosRequest"
  /api/v1/recipes/{recipeId}/photos/{photoId}:
    delete:
      operationId: deleteRecipePhoto
      summary: Remove a photo from the recipe (and invalidate its CDN paths).
      security:
        - clerkSessionToken: []
      responses:
        "204":
          description: Removed.
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - name: photoId
          in: path
          required: true
          description: The photo id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{recipeId}/versions:
    get:
      operationId: listRecipeVersions
      summary: List a recipe’s version history, newest first.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The version history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeVersionList"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe, or it is not visible to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/recipes/{recipeId}/versions/{versionNumber}:
    get:
      operationId: getRecipeVersion
      summary: Read one archived version.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The archived version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeVersion"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe or version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - name: versionNumber
          in: path
          required: true
          description: The 1-based version number.
          schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
  /api/v1/recipes/{recipeId}/versions/{versionNumber}/restore:
    post:
      operationId: restoreRecipeVersion
      summary: Restore an archived version onto the live recipe.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The restored recipe and the version it created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreVersionResponse"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such recipe or version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: The version archive is still pending.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: recipeId
          in: path
          required: true
          description: The recipe id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - name: versionNumber
          in: path
          required: true
          description: The version to restore.
          schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
  /api/v1/search/recipes:
    get:
      operationId: searchRecipes
      summary: Full-text and facet search over visible recipes.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: A ranked page of hits plus facet counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecipeSearchResponse"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: Array filters accept either repeated params (`?tags=a&tags=b`) or one comma-separated value (`?tags=a,b`).
      parameters:
        - name: query
          in: query
          required: false
          description: Free-text query.
          schema:
            type: string
            minLength: 1
        - name: cuisine
          in: query
          required: false
          description: Exact cuisine filter.
          schema:
            type: string
            minLength: 1
        - name: dietaryFlags
          in: query
          required: false
          description: Dietary-flag filter.
          schema:
            type: array
            items:
              type: string
              minLength: 1
        - name: tags
          in: query
          required: false
          description: Tag filter.
          schema:
            type: array
            items:
              type: string
              minLength: 1
        - name: ingredientIds
          in: query
          required: false
          description: Ingredient filter.
          schema:
            type: array
            items:
              type: string
              minLength: 1
        - name: maxPrepTime
          in: query
          required: false
          description: Maximum prep minutes.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - name: maxCookTime
          in: query
          required: false
          description: Maximum cook minutes.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - name: maxTotalTime
          in: query
          required: false
          description: Maximum total minutes.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - name: page
          in: query
          required: false
          description: 1-based page number.
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: sortBy
          in: query
          required: false
          description: Sort key.
          schema:
            type: string
            enum:
              - relevance
              - recent
              - title
              - most-cloned
              - quickest
  /api/v1/ingredients/search:
    get:
      operationId: searchIngredients
      summary: Search the local ingredient catalog.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: Matching catalog rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngredientList"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: q
          in: query
          required: true
          description: The search term.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          description: Maximum results.
          schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
  /api/v1/ingredients/suggest:
    get:
      operationId: suggestIngredients
      summary: Blended typeahead over the local catalog and the food (ingredient) service.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: Blended suggestions, local section first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngredientSuggestions"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "Sectioned, never interleaved: every `local` suggestion precedes every `catalog` one, so the familiar list
        does not reorder when the catalog section appears or vanishes. A `catalog` hit has no ingredient id and must be
        admitted via `by-food` before it can go on a recipe line — narrow on `provenance`."
      parameters:
        - name: q
          in: query
          required: true
          description: The search term.
          schema:
            type: string
            minLength: 1
        - name: limit
          in: query
          required: false
          description: Maximum results.
          schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
  /api/v1/ingredients:
    post:
      operationId: createIngredient
      summary: Create a user-entered ingredient.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The created ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ingredient"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        description: The ingredient name.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIngredientRequest"
  /api/v1/ingredients/by-name:
    post:
      operationId: addIngredientByName
      summary: Admit an ingredient by name, resolving it against the food catalog asynchronously.
      security:
        - clerkSessionToken: []
      responses:
        "202":
          description: Accepted; resolution continues in the background.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ingredient"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "Returns `202`, not `201`: the row is created synchronously but nutrition resolution is not, so the caller
        polls `GET …/{id}/status`."
      requestBody:
        description: The ingredient name.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIngredientRequest"
  /api/v1/ingredients/by-food:
    post:
      operationId: addIngredientByFood
      summary: Admit a food-catalog golden record as a local ingredient row.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The admitted ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ingredient"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        description: The opaque food id from a `catalog` suggestion.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddIngredientByFoodRequest"
  /api/v1/ingredients/{id}/status:
    get:
      operationId: getIngredientStatus
      summary: Read an ingredient’s food-resolution status.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ingredient"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The ingredient id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/ingredients/{id}/candidates:
    get:
      operationId: getIngredientCandidates
      summary: List cross-source disambiguation candidates for an unresolved ingredient.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The candidates, or an empty array when the ingredient has no food id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngredientCandidateList"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "The body is RECIPE’s own `IngredientCandidate`, mapped at the gateway from the food service’s
        `CandidateView` — see `src/ingredients/ingredients.schema.ts` for that ownership decision and its accepted
        consequences. Source-agnostic: keyed by the candidate’s opaque handle, never a USDA `fdcId`."
      parameters:
        - name: id
          in: path
          required: true
          description: The ingredient id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/ingredients/{id}/resolve:
    post:
      operationId: resolveIngredient
      summary: Resolve an unresolved ingredient by picking one or more candidates.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The resolved ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ingredient"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such ingredient.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The ingredient id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The candidate handles to resolve against (1..20).
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveIngredientRequest"
  /api/v1/collections:
    post:
      operationId: createCollection
      summary: Create a collection owned by the caller.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The created collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: The caller is at the 50-collection cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: Visibility defaults to `private` (FR-010). `ownerId` is not an accepted field — ownership comes from the
        verified token, and the body is strict, so an `ownerId` is rejected with a 400 rather than stripped.
      requestBody:
        description: The collection to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
    get:
      operationId: listCollections
      summary: List the caller’s collections.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: A page of collections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCollections"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: Newest first. `recipeCount` is OMITTED on this list projection (it is present on the single-collection
        read) — counting members per row would be an N+1.
      parameters:
        - name: page
          in: query
          required: false
          description: 1-based page number.
          schema:
            type: integer
            minimum: 1
        - name: pageSize
          in: query
          required: false
          description: Page size, 1..100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
  /api/v1/collections/{id}:
    get:
      operationId: getCollectionById
      summary: Read a collection with its member recipes.
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The collection and its members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionWithRecipes"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "`recipes` is ALWAYS present — an empty array means “no members you can see”, which is a real state.
        Members are filtered to those the caller may view, so a member that has since gone private simply disappears.
        `coverPhotoUrl` is never populated on this embed."
      parameters:
        - name: id
          in: path
          required: true
          description: The collection id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
    patch:
      operationId: updateCollection
      summary: Update a collection (at least one field required).
      security:
        - clerkSessionToken: []
      responses:
        "200":
          description: The updated collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      description: "AT LEAST ONE FIELD IS REQUIRED, and that rule is NOT expressible in this document: it is a zod
        `.refine()`, which JSON Schema cannot represent, so an empty object validates here and is answered `400` by the
        service. Stated rather than dropped — dropping the rule would turn a client bug into a silent success."
      parameters:
        - name: id
          in: path
          required: true
          description: The collection id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
      requestBody:
        description: The fields to change.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCollectionRequest"
    delete:
      operationId: deleteCollection
      summary: Delete a collection (its recipes are untouched).
      security:
        - clerkSessionToken: []
      responses:
        "204":
          description: Deleted.
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such collection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      parameters:
        - name: id
          in: path
          required: true
          description: The collection id.
          schema:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
  /api/v1/collections/{id}/recipes:
    post:
      operationId: addRecipeToCollection
      summary: Add a recipe to a collection.
      security:
        - clerkSessionToken: []
      responses:
        "201":
          description: The created membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionRecipeMembership"
        "400":
          description: "The request body, query or path was rejected. `code` says by what: `VALIDATION_FAILED` from the boundary
            parser (with `details.fields` naming each offending field, including a rejected unknown key), or a domain
            code such as `INVALID_VISIBILITY` / `UNKNOWN_INGREDIENT`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: No, invalid, expired, or wrong-authorized-party bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The caller does not own the resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No such collection or recipe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "423":
          description: "The caller has an in-flight account erasure, so writes are locked (HAZ-052). `code: ERASURE_IN_PROGRESS`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Per-user rate limit exceeded (`code: TOO_MANY_REQUESTS`). ⚠️ This body used to be a bare JSON STRING — the
            throttler exception passed through the filter unchanged — and is now the envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            Retry-After:
              description: Seconds until the limit resets.
              schema:
                type: integer
                minimum: 0
                exclusiveMinimum: true
        "500":
          description: Unexpected server error. The body never carries internals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
[...]
